# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\_MyCode\myprojects\django3-ecommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
